.searchInput {
    width: 100%;
  }
  
  .input {
    border-radius: 15px;
  }
  
  .inputOutlined:focus .MuiOutlinedInput-notchedOutline {
    border-color: #285b99;
  }
  
  .inputOutlined:hover .MuiOutlinedInput-notchedOutline {
    border-color: #285b99;
  }
  
  .inputIcon {
    color: #285b99;
    font-size: 26px;
  }
  
  .resultsContainer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    margin-top: 2px;
  }
  
  .resultItem {
    padding: 8px 0;
    font-size: 14px;
    cursor: pointer;
  }
  
  .resultItem:hover {
    color: #285b99;
  }
  
  .noResults {
    padding: 8px 0;
    font-size: 14px;
    color: gray;
  }
  